<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Venue</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center;">BOOK YOUR VENUE</h1>
    <hr>
    <h2 style="text-align: center;">The List Of Venues</h2>
    <div class="row" style="margin-top:30px;">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://image.shutterstock.com/image-illustration/illuminated-round-cricket-stadium-full-600w-1393589660.jpg" alt="...">
            <div class="caption">
              <h3>Motera Stedium</h3>
              <p>it is a asia"a biggest cricket ground.</p>
              <p><a href="slot_book.html" class="btn btn-primary" role="button">Book Now</a> 
            </div>
          </div>
        </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://image.shutterstock.com/image-illustration/empty-green-grass-field-illuminated-600w-1494737537.jpg" alt="...">
                <div class="caption">
                  <h3>Hyderabad Stedium</h3>
                  <p>this ground has very much capacity.</p>
                  <p><a href="slot_book.html" class="btn btn-primary" role="button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://image.shutterstock.com/image-illustration/illuminated-round-cricket-stadium-full-600w-1393589660.jpg" alt="...">
                <div class="caption">
                  <h3>Wankhede Stedium</h3>
                  <p>this stedium has first priority of every player.</p>
                  <p><a href="slot_book.html" class="btn btn-primary" role="button">Book Now</a>
                </div>
              </div>
            </div>
    </div>
    <div class="row" style="margin-top:30px;">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://image.shutterstock.com/image-illustration/empty-green-grass-field-illuminated-600w-1494737537.jpg" alt="...">
          <div class="caption">
            <h3>Motera Stedium</h3>
            <p>it is a asia"a biggest cricket ground.</p>
            <p><a href="slot_book.html" class="btn btn-primary" role="button">Book Now</a> 
          </div>
        </div>
      </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="https://image.shutterstock.com/image-illustration/empty-green-grass-field-illuminated-600w-1494737537.jpg" alt="...">
              <div class="caption">
                <h3>Hyderabad Stedium</h3>
                <p>this ground has very much capacity.</p>
                <p><a href="slot_book.html" class="btn btn-primary" role="button">Book Now</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="https://image.shutterstock.com/image-illustration/empty-green-grass-field-illuminated-600w-1494737537.jpg" alt="...">
              <div class="caption">
                <h3>Wankhede Stedium</h3>
                <p>this stedium has first priority of every player.</p>
                <p><a href="slot_book.html" class="btn btn-primary" role="button">Book Now</a>
              </div>
            </div>
          </div>
  </div>

</body>
</html>