

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   


 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.4/js/fileinput.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    
</head>
<body>
    <div class="container text-center">
        <div>
            <h1>Create Venue - Forms</h1>
        </div>
        <form th:action="@{/createVenues}" th:object="${venue}"
            method="post" style="max-width: 600px; margin: 0 auto;" enctype="multipart/form-data">
            
              
        <div class="m-3">
        
        <div class="form-group row">
                <label class="col-4 col-form-label">Venue Image: </label>
                <div class="col-8">
                    <input type="file"  class="form-control"
                            required minlength="2" maxlength="20" accept="image/jpeg,image/png" name="fileImage" id="fileImage"/>
                            
                            <br>
                            <img alt="Image Preview" src="" id="thumbnail" height="200" width="200">
      	          </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Venue Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{venuename}" class="form-control" required />
                </div>
            </div>
             
           
             <br>
            <div class="form-group row">
                <label class="col-4 col-form-label">Venue Type: </label>
                <div class="col-8">
                    <input type="text" th:field="*{venuetype}" class="form-control"
                            required minlength="2" maxlength="20"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Venue Price: </label>
                <div class="col-8">
                    <input type="text" th:field="*{venueprice}" class="form-control"
                            required minlength="2" maxlength="20"/>
                </div>
            </div>
             
             <div class="form-group row">
                <label class="col-4 col-form-label">Location : </label>
                <div class="col-8">
                    <input type="text" th:field="*{venuelocation}" class="form-control"
                            required minlength="2" maxlength="20"/>
                </div>
            </div>
             
             <div class="form-group row">
                <label class="col-4 col-form-label">Description </label>
                <div class="col-8">
                    <input type="text" th:field="*{venuedescription}" class="form-control"
                            required minlength="2" maxlength="20"/>
                </div>
            </div>
             
            
              
            </div>
             
           
             
            <div>
                <button type="submit" class="btn btn-primary">Create Venue</button>
            </div>
        </div>
        </form>
    </div>
    
    <script type="text/javascript">
    $(document).ready(function(){
    $('#fileImage').change(function(){
    showThumbnail(this);
    window.alert("Hello")
    });
    
    
    });
    
    function showThumbnail(fileInput)
    {
    	var file=fileInput.files[0];
    	var reader= new FileReader();
    	
    	reader.onload=function(e)
    	{
    	$('#thumbnail').attr('src',e.target.result);
    	};
    	 reader.readAsDataURL(file);
    	
    }
    
    
    </script>
</body>
</html>